
@{
    ViewData["Title"] = "OGO Filesharing - Browse files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadCss{
    <link rel="stylesheet" href="~/css/sidebar-style.css">
}


<div class="wrapper">
    <!-- Sidebar -->
    
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Menu</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#" class="group-toggle" data-id="0">My files</a>
            </li>
            <li>
                <a href="#" class="group-toggle" data-id="shared">Shared with me</a>
            </li>
            <li>
                <a href="#groupsSubmenu" data-toggle="collapse" aria-expanded="false">Groups</a>
                <ul class="collapse list-unstyled" id="groupsSubmenu">
                    
                </ul>
            </li>
        </ul>
        <div class="row justify-content-center">
            <button class="btn btn-primary" id="addGroupBtn">Create group</button>
        </div>
    </nav>
    
    <!-- Page Content -->
    <div id="content" class="container-fluid">
        <div class="row">
            
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" onclick="showUploadFileModal()">File</a>
                <a class="dropdown-item" href="#" onclick="showCreateFolderModal()">Folder</a>
            </div>

            <button class="btn btn-primary" id="go-back-button" onclick="oneDirUp()">Go back</button>

            <div class="directory-path-container">
                <h2>Path: <span id="directory-path">/</span></h2>
            </div>
        </div>
        
        
        <div class="row" id="file-container"></div>
    </div>
</div>


<script>
    const browseFilesUrl = "@Url.Action("BrowseFiles", "FileApi")";
    const renameUrl = "@Url.Action("Rename", "FileApi")";
    const deleteUrl = "@Url.Action("Delete", "FileApi")";
    const createFolderUrl = "@Url.Action("CreateFolder", "FileApi")";
    const uploadFilesUrl = "@Url.Action("UploadFiles", "FileApi")";
    const moveFileUrl = "@Url.Action("MoveIntoFolder", "FileApi")";
    const updateFileUrl = "@Url.Action("SetFileContents", "FileApi")";
    const listUserGroups = "@Url.Action("Index", "GroupApi")";
    const createGroupUrl = "@Url.Action("CreateGroup", "GroupApi")";
    const browseSharedFilesUrl = "@Url.Action("BrowseSharedFiles", "FileApi")";
    const folderIconUrl = "/@Url.Content("Images/folder-icon.png")";
    const fileIconUrl = "/@Url.Content("Images/file-icon.png")";
</script>

<script src="~/js/custom-sidebar.js"></script>
<script src="~/js/browse-file-scripts.js"></script>

@*
    Modals section
*@


<div class="modal fade" id="renameFileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rename file</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="file-name" class="col-form-label">File name:</label>
                        <input type="text" class="form-control" id="file-name">
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="file-id">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="renameFile()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteFileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete file</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <label for="question" class="col-form-label">Are you sure you want to delete the selected file?</label>
                    <div class="form-group">
                        <input type="hidden" id="delete-file-id">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="deleteFile()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload file</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="file-upload-form" enctype="multipart/form-data">
                    <div class="form-group">
                        <input id="upload-files" type="file" name="Files" class="form-control-file" multiple />
                    </div>
                    <div class="form-group">
                        <input id="upload-file-parentId" type="hidden" name="ParentId" value="0" />
                    </div>
                    <div class="form-group">
                        <input id="upload-file-groupId" type="hidden" name="GroupId" value="0" />
                    </div>
                </form>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                         id="upload-progress-bar"
                         role="progressbar"
                         aria-valuenow="0"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width: 0%"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" onclick="startFileUpload()"> Upload </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createFolderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create folder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="create-folder-name" class="col-form-label">Folder name:</label>
                        <input type="text" class="form-control" id="create-folder-name">
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="folder-id">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="createFolder()">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="moveFileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Move to:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <ul class="list-group" id="move-folder-list">
                        
                    </ul>
                    <input type="hidden" id="move-file-id">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editFileModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit <span id="edit-file-name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <textarea id="editFileContent" class="form-control" rows="10"></textarea>
                    </div>
                    <input type="hidden" id="editFileId">
                    <input type="hidden" id="editFileTimestamp">
                    <input type="hidden" id="editFileOverwrite">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="editModalSave">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="overwriteEditModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Contents of the file have been changed by anothe user. Do you want to continue?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="overwriteEditModalOverwrite">Overwrite</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="downloadFileModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Downloading <span id="download-file-name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Your file is ready to download</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="cancel-download">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="filePreviewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Preview <span id="preview-file-name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body align-content-center">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create new group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="create-group-name" class="col-form-label">Group name:</label>
                        <input type="text" class="form-control" id="create-group-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="createGroup()">Create</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>