
@{
    ViewData["Title"] = "OGO Filesharing - Group settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var group = ViewBag.Group;
    var currentUser = ViewBag.User;
}

<div class="container">
    <div class="row justify-content-center">
        <h3 id="group-name">@group.Name <i class="fa fa-edit" onclick="showRenameGroupModal()" style="cursor: pointer;"></i></h3>
    </div>
    <div class="row">
        <p class="col-12">Users:</p>
        <ul class="list-group col-12" id="user-list">
        </ul> 
    </div>
    <div class="row justify-content-center" style="margin-top: 1em">
        <button class="btn btn-primary" onclick="showAddUserModal()">Add user</button>
    </div>
</div>


<script>
    let currentGroupId = "@group.Id";
    let currentUserId = "@currentUser.Id";
    
    let getGroupUsersUrl = "@Url.Action("GetGroupUsers", "GroupApi", new {groupId = group.Id})";
    let addUserToGroupUrl = "@Url.Action("AddUser", "GroupApi")";
    let removeUserUrl = "@Url.Action("RemoveUser", "GroupApi")";
    let renameGroupUrl = "@Url.Action("Rename", "GroupApi")";
    
    $(document).ready(function () {
        $.ajax({
            url: getGroupUsersUrl,
            success: function (result) {
                result.forEach(user => {
                    addUserToList(user);
                });
            },
            error: function (result) {
                alert("Failed to load users: " +  result);
            }
        });
        $('#user-list').on('click', '.user-remove', function () {
            removeUser(this);
        })
    });
    
    function addUserToList(user) {
        let $item = '<li class="list-group-item d-flex justify-content-between align-items-center" data-id="' + user.id + '">'+
                     user.name +
                     (user.id !== currentUserId ? ' <button class="btn btn-danger user-remove">Remove</button>' 
                     : '<button class="btn btn-danger user-remove">Leave group</button>')+
                     '</li>';
        $("#user-list").append($item);
    }
    
    function showAddUserModal() {
        $('#add-user-email').val('');
        $('#addUserModal').modal();
    }
    
    function addUser() {
        let email = $('#add-user-email').val();
        
        let data = {
            Email: email,
            GroupId: currentGroupId
        };
        
        $.ajax({
            url: addUserToGroupUrl,
            method: 'POST',
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (user) {
                addUserToList(user);
            },
            error: function (result) {
                alert(result.responseText);
            }
        });
    }
    
    function removeUser(element) {
        let userId = $(element).parent().data('id');
        
        let data = {
            UserId: userId,
            GroupId: currentGroupId
        };
        $.ajax({
            url: removeUserUrl,
            method: 'DELETE',
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (user) {
                if (userId === currentUserId) {
                    window.location.href = "/file/browse"; 
                }
                $(element).parent().remove();
            },
            error: function (result) {
                alert(result.responseText);
            }
        });
    }
    
    function showRenameGroupModal() {
        let groupName = $('#group-name').text();
        
        $('#rename-group-name').val(groupName);
        
        $('#renameGroupModal').modal();
    }
    
    function renameGroup() {
        let name = $('#rename-group-name').val();
        
        let data = {
            Id: currentGroupId,
            Name: name,
        };
        
        $.ajax({
            url: renameGroupUrl,
            method: 'PUT',
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (group) {
                $('#group-name').text(group.name);
                $('#renameGroupModal').modal('hide');
            },
            error: function (result) {
                alert(result.responseText);
            }
        });
    }
</script>

<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="add-user-email" class="col-form-label">User email:</label>
                        <input type="email" class="form-control" id="add-user-email">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addUser()">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="renameGroupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rename group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="rename-group-name" class="col-form-label">Group name:</label>
                        <input type="text" class="form-control" id="rename-group-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="renameGroup()">Rename</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>