@using Group3.Semester3.WebApp.Helpers

@{
    var messages = Messenger.Messages;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css">
    <link href="~/lib/jquery-contextmenu/jquery.contextMenu.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
    
    @if (IsSectionDefined("HeadCss"))
    {
        @RenderSection("HeadCss", required: false)
    }
    
    <link href="/css/style.css" rel="stylesheet" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-contextmenu/jquery.contextMenu.min.js"></script>
    <script src="~/lib/jquery-contextmenu/jquery.ui.position.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-light navbar-expand-md justify-content-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Browse", "File")">My files</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Dashboard", "User")">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("LogOut", "User")">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    @if (messages != null)
    {
        @foreach (var message in messages)
        {
            <div class="alert alert-primary" role="alert">
                @message
            </div>
        }
    }
    @{
        Messenger.Messages.Clear();
    }

    @RenderBody()

    
</body>
</html>
