@{
    ViewData["Title"] = "OGO Filesharing - Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User;
}

@if (user != null)
{
    <h1>Welcome @user.Name</h1>
    <p>Your email: @user.Email</p>

    <form action="update" method="post">
        <div class="container">
            <h3>Do you want to change your credentials?</h3>
            <div class="row">
                @Html.Raw(ViewBag.Result)
                <div class="col-sm-4">
                    <label for="text">Current Username</label>
                    <div class="form-group">
                        <input type="text" name="name" value="@user.Name" class="form-control" placeholder="User name">
                    </div>
                    <label>Current Password</label>
                    <div class="form-group">
                        <input type="password" name="OldPassword" value="" class="form-control" placeholder="Current Password">
                    </div>
                    <label>New Password</label>
                    <div class="form-group">
                        <input type="password" name="NewPassword" value="" class="form-control" placeholder="New Password">
                    </div>
                    <label>Confirm Password</label>
                    <div class="form-group">
                        <input type="password" name="NewPasswordCheck" value="" class="form-control" placeholder="Confirm Password">
                    </div>
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-info">Submit</button>

                </div>
            </div>
        </div>
    </form>
        }
